body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bodyContainer {
  background-color:#a992bb;
  width: 80%;
  padding:2% 0 3% 3%;
  display: grid;
  grid-template-areas:
  main main main;
  grid-gap:0px;
}

.gridItem1 {
padding:10px;
grid-column-start:1;
}
.gridItem3 {
  padding:10px;
  grid-column-start:2;
}
.gridItem2 {
  padding:10px;
  grid-column-start:3;
}

.container {
  width: 80%;
  padding: 20px;
}

#searchBar {
  border-radius:20px;
  margin:0 20px;
  padding:3px;
  float: right;
}
.navButton {
  padding:3px;
  margin: 0 7px;
}

.navButton {
  float:left;
}

#obey {
  display:inline-block;
}

#userInfoContainer {
  min-height:175px;
  width:300px;
  background: linear-gradient(to bottom, rgb(239, 229, 247) 50%, #785c8f 50%)
}

#userInfoBlock {
  padding-top:25px;
}

#userPortrait {
  width:100px;
  border-radius:20px;
  float:left;
  padding:10px;
}

#userName {
  float:left;
  padding:50px 0 0 10px;
  color:#fff;
}

#userLinksDiv {
  float:left;
}

.userButton {
  margin-right: 22px;
  margin-left: 14px;
}

.suggestedUserDiv {
  float: right;
  background-color:#785c8f;
  color:#fff;
  margin:0px 10px 0 0;
  padding:10px 30px;
  border-radius:10px;
}

.friendFacesPosts {
  grid-column-start:1;
  padding:0 20px 0 0;
}

.friendFacesPosts img {
  margin-top: 20px;
  width:80px;
  border-radius:10px;

}

.friendInfoPosts {
  grid-column-start:2;
}

.friendFaces {
  float:left;
  min-height:150px;
  grid-column-start:1;
}

.friendFaces img {
  margin-top: 20px;
  width:80px;
  border-radius:10px;
}

.friendInfo {
  float:right;
  grid-column-start:2;
}

.friends {
  display:grid;
  position:inherit;
}

#userSearchBar {
  border-radius:20px;
}

.feed {
  background-color: rgb(239, 229, 247);
  padding: 30px;
}

#userSearchBar {
  padding-right: 200px;
}
